.canvasSection {
    position: relative;

    border: 1px solid var(--border);
    border-radius: 1rem;
}

.canvasSection.addMode {
    cursor: cell;
}

line {
    stroke: var(--secondary);
    stroke-width: 3px;
}