.canvasSection {
    position: relative;
    min-height: 0;

    border: 1px solid var(--border);
    border-radius: 1rem;

    --gradient: rgba(from var(--border) r g b / 0.1);
    background: repeating-linear-gradient(to right, transparent, transparent 4rem, var(--gradient) 4rem, var(--gradient) 4.2rem), repeating-linear-gradient(to bottom, transparent, transparent 4rem, var(--gradient) 4rem, var(--gradient) 4.2rem);

    @media screen and (max-width: 768px) {
        flex: 1 1 auto;
        min-height: 0;
    }
}

.canvasSection.addMode {
    cursor: cell;
}

.canvasSection.moveMode {
    cursor: all-scroll;
}

line {
    stroke: var(--secondary);
    stroke-width: 0.1875rem;
}

line.highlight {
    stroke: var(--primary);
    stroke-width: 0.375rem;
}

text {
    fill: var(--text);
    font-size: 0.8rem;
    font-weight: bold;

    user-select: none;
    transform: translateY(-0.8rem);
}

.trashButton {
    position: absolute;
    bottom: 0.8rem;
    right: 0.8rem;

    cursor: pointer;
    transition-property: transform, fill;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

.trashButton:hover {
    fill: var(--delete);
    transform: scale(1.1);
}