.mainContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;

    min-height: calc(100svh - 6rem);

    @media screen and (max-width: 768px) {
        grid-template-columns: none;
        grid-template-rows: 1fr 4fr;

        min-height: calc(100svh - 2rem);
    }
}